<mat-toolbar class="title-toolbar">
  <span>Seus Albuns</span>
  <button
    mat-fab
    matTooltip="Novo Álbum"
    matTooltipPosition="above"
    extended
    color="primary"
    [routerLink]="['/album/form-album']">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
  <div class="main-div">
    <ng-container *ngIf="albums.length > 0; else noData">
      <mat-card class="card-album" *ngFor="let album of albums">
        <mat-card-header>
          <mat-card-title>{{album.title}}</mat-card-title>
        </mat-card-header>
        <div class="img-album-icon">
          <mat-icon>photo_library</mat-icon>
        </div>
        <mat-card-content>
          <p>
            {{album.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="showImages(album)">Ver Fotos</button>
          <button mat-button (click)="openSnackBar(album.deletehash)">Excluir album</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
    <ng-template #noData>
      <mat-card class="card-nodata">
        <mat-card-content>
          <mat-label>Não existe nenhuma álbum cadastrado</mat-label>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
