.title-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-album{
  margin: 10px;
}
.img-album-icon{
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  mat-icon{
    height: 70px;
    width: 70px;
    font-size: 70px;
  }
  a{
    text-decoration: none;
    color: #1cbcd4;
  }

}
.card-nodata{
  width: 70%;
  margin-top: 20px;
  text-align: center;
}
