<mat-sidenav-container
  class="sidenav-container"
  (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list (click)="closeSideNav()">
      <a mat-list-item [routerLink]="['/album/list-albuns']"><mat-icon>photo_library</mat-icon> Albuns</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/album/form-album']"
        ><mat-icon>add</mat-icon> Novo Album</a
      >
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="openSideNav()"
      >
        <mat-icon aria-label="Side nav toggle icon"> menu</mat-icon>
      </button>
      <span>Gerenciador de Imagens</span>

    </mat-toolbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

  </mat-sidenav-container>
