<mat-toolbar class="title-toolbar">
  <span>Novo Álbum</span>
  <button mat-fab extended color="primary" [routerLink]="['/album/list-albuns']" >
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div class="main-div">
  <form class="form-album" (ngSubmit)="saveNewAlbum()" [formGroup]="formNewAlbum">
    <mat-form-field>
      <mat-label>Título do álbum</mat-label>
      <input formControlName="title" matInput placeholder="" value="">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea
        formControlName="description"
        [disabled]="formNewAlbum.invalid || !formNewAlbum.get('description').value"
        matInput placeholder=""></textarea>
    </mat-form-field>
    <div class="buttons-footer">
      <button
        type="submit"
        [disabled]="formNewAlbum.invalid || !formNewAlbum.get('title').value"
        mat-raised-button
        color="primary">Salvar</button>
    </div>
  </form>
</div>
